<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>></title>
    <link rel="stylesheet" href="/styles/tables.css" />
  </head>
  <body>
    <h1>Available products</h1>
    <br />
    <table>
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0;i<=products.length-1;i++){ %>
        <tr>
          <td><%= products[i].id %></td>
          <td><%= products[i].productname %></td>
          <td><%= products[i].brand %></td>
          <td><%= products[i].model %></td>
          <td><%= products[i].price %> Euro</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
