<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>></title>
    <link rel="stylesheet" href="/styles/tables.css" />
  </head>
  <body>
    <h1>All shipments info</h1>
    <br />

    <table>
      <thead>
        <tr>
          <th>Tracking ID</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>State</th>
          <th>Shipment Date</th>
          <th>Delivery Date</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0;i<=shipments.length-1;i++){ %>
        <tr>
          <td><%= shipments[i].id %></td>
          <td><%= shipments[i].productname %></td>
          <td><%= shipments[i].price %> Euro</td>
          <td><%= shipments[i].state %></td>
          <td>
            <%= shipments[i].shipmentdate ?
            shipments[i].shipmentdate.toISOString().slice(0,10) : '' %>
          </td>
          <td>
            <%= shipments[i].deliverydate ?
            shipments[i].deliverydate.toISOString().slice(0,10) : '' %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
